* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
    display: flex;
    
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    flex-direction: column-reverse;
    padding-top: 20px;
    gap: 20px;
}

#toast {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 20vw;
  padding: 2vw;
  font-size: 3vw;
  background-color: #d0cccc;
  color: white;
  text-wrap: nowrap;
}
#toastBtn {
    padding: 1vw 2vw;
    background-color: dimgrey;
    color: white;
    border-radius: 2px;
    height: 50px;
    width: 200px;
    text-wrap: nowrap;
    text-align: center;

}
#toast.show{
    opacity: 1;
}

.hidden{
    opacity: 0;
}